.btn_increment{
    padding: 8px;
    border: none;
    cursor: pointer;
    background: cadetblue;
    border-radius: 10px;
    margin-right: 10px;
    color: #fff;
}
.btn_decrement{
    padding: 8px;
    border: none;
    cursor: pointer;
    background: cadetblue;
    border-radius: 10px;
    margin-left: 10px;
    color: #fff;
}

#root{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttons{
    display: flex;
    margin-top: 20px;
}

.input{
    padding: 12px;
    border: 5px solid violet;
    border-radius: 15px;
}

.count{
    font-size: xx-large;

}
